.hero-section{
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 42rem;
    background-color: $accent-color;

    .hero-text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent-color;
        background-image: url('/images/bg/violet-icon-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;

        .content{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            width: 33.5rem;
            height: 27.0625rem;
            flex-shrink: 0;

            h3{
                margin: 0;
                color: $cta-color;
                font-family: inherit;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            h1{
                margin: 0;
                margin-top: -40px;
                color: #FFF;
                font-family: inherit;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            h5{
                margin: 0;
                color: #FFF;
                font-family: inherit;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            button{
                border: none;
                outline: none;
                background-color: $cta-color;
                max-width: 8.5rem;
                color: white;
                font-family: inherit;
                display: inline-flex;
                padding: 0.875rem 1.75rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border-radius: 0.625rem;
            }
        }
    }
    .hero-img{
        background-image: url('/images/hero_img.svg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3.125rem 0rem 0rem 3.125rem;
    }
}

// categories section
.categories{
    
    .text-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            display: block;
            color: $accent-color;
            font-family: inherit;
            margin: 0;
            margin-bottom: 1rem;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            display: block;
            color: $grey;
            text-align: center;
            font-family: Inter;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.categories-cards{ 
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    .card{
        width: 15.625rem;
        height: 15.625rem;
        border-radius: 0.625rem;
        img{
            border-radius: 0.625rem 0.625rem 0 0;
        }
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                margin-top: 0.625rem;
                margin-bottom: 0.625rem;
                color: $accent-color;
                font-family: inherit;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p{
                color: $grey;
                text-align: center;
                font-family: Inter;
                font-size: 0.625rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 0.625rem;
                padding-left: 1.8rem;
                padding-right: 1.8rem;
            }

            a{
                color: $cta-color;
                text-decoration: none;
                text-align: center;
                font-family: Inter;
                font-size: 0.625rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}

// category section end

// about us section start
.about-us-section{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50rem;
    background-color: #fff;
    
    .about-us-text{
        background-image: url('/images/bg/about-us.svg');
        display: flex;
        justify-content: center;
        align-items: center;

        .content{
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            height: 29.5rem;

            h3{
                color: $cta-color;
                font-family: inherit;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            h1{
                color: #4A2960;
                font-family: inherit;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p{
                color: #4A2960;
                font-family: Inter;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            button{
                border: none;
                outline: none;
                background-color: $cta-color;
                max-width: 8.5rem;
                color: white;
                font-family: inherit;
                display: inline-flex;
                padding: 0.875rem 1.75rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border-radius: 0.625rem;
            }
        }
    }

    .image-cards{
        background-image: url('/images/bg/about-us.svg');
        img{
            display: block;
        }
        .col1{

        }
    }

}